.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
  }
  
  .about-me {
    text-align: center;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0);
    width: 80vw;
    height: 93vh;
  }
  
  .about-me img {
    margin-top: 10rem;
    width: 100px;
    height: 100px;
  } 
  
/* Styles for desktops and laptops */
.portfolio-image {
    width: 20vw !important;
    height: 20vw !important;
    border-radius: 50%;
    object-fit: cover;
  }

#name{
  font-size: 5rem;
}
#desc{
  font-size: 1.5rem;
}

.bio{
  padding-top: 4rem;
  line-height: 2.6;
  font-size: 1.3rem;
}
  
  /* Styles for tablets and phones (viewport width up to 768px) */
  @media only screen and (max-width: 1000px) {
    .portfolio-image {
      width: 40vw !important;
      height: 40vw !important;
    }
  }
  

  /* Github section */
  .git-sec{
    color: white;
    width: 80vw;
    border-top: 2px solid white;
    padding-top: 20px;
    text-align: center !important;
  }

  .user-name{
    text-decoration: none;
    color: white;
  }