.navbar {
  margin-bottom: 0;
  background: transparent !important;
  width: 100%;
  z-index: 999; /* Increase the z-index to ensure the navbar appears above the background */
}

  
  .navbar-brand {
    color: #AFAFAF !important; /* Secondary color: Stardust Silver */
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 1rem;
  }
  
  .navbar-nav .nav-link {
    color: #4A4E69  !important; /* Highlight color: Cosmic Teal */
  }
  
  .nav-link {
    margin-right: 2rem !important;
    font-size: 1.25rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #F7F7F7 !important; /* Hover color: Lunar White */
  }
  
  .navbar-nav .dropdown-item {
    color: #4A4E69 !important; /* Text color for dropdown items: Midnight Purple */
  }
  
  .navbar-nav .dropdown-item:hover {
    color: #F7F7F7 !important; /* Hover color for dropdown items: Cosmic Teal */
  }

  .navbar-nav .active-link {
    border-bottom: 2px solid #F7F7F7; /* Color for the underline */
  }
